body{
  background-color: #E2E3E5;
}
.custom-table{
  padding: 100px;
}

.text-truncate-two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Jumlah baris */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* Supaya teks membungkus */
}

.text-truncate-three-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Jumlah baris */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* Supaya teks membungkus */
}